Flask==3.0.3
requests==2.32.3
waitress==3.0.0
Flask-Reuploaded==1.4.0
Flask-WTF==1.2.1
WTForms==3.2.1
Jinja2==3.1.6
matplotlib==3.10.0
matplotlib-inline==0.1.6
pandas==2.2.3
numpy==2.2.2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
pydicom==2.3.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-gdcm==3.0.24.1
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.1
setuptools==80.9.0
